.floatButton {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1001;
  width: 50px;
  height: 50px;
  --l: 3.5em;
  .triggerButton {
    display: none;
  }
  .triggerButton + label {
    cursor: pointer;
    position: absolute;
    right: 1em;
    bottom: 1em;
    background-color: #0e4ca7;
    height: var(--l);
    width: var(--l);
    border-radius: 50%;
    z-index: 2;
  }
  .one,
  .two,
  .three {
    cursor: pointer;
    position: absolute;
    right: 1em;
    bottom: 1em;
    padding: 1em;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    opacity: 0;
    z-index: 1;
    transform: rotateZ(90deg);
    transform-origin: center;
    font-size: 1em;
    color: #fff;
    transition-property: all;
    transition-duration: 0.35s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .triggerButton:checked ~ .one,
  .triggerButton:checked ~ .two,
  .triggerButton:checked ~ .three {
    opacity: 1;
  }
  .triggerButton:checked ~ .one {
    background-color: #0e4ca7;
    transform: translateX(-5em);
    transition-delay: 0.2s;
  }
  .triggerButton:checked ~ .two {
    background-color: #0e4ca7;
    transform: translateX(-3.5em) translateY(-3.5em);
    transition-delay: 0.1s;
  }
  .triggerButton:checked ~ .three {
    background-color: #0e4ca7;
    transform: translateY(-5em);
  }
  .triggerButton:checked ~ .one:hover,
  .triggerButton:checked ~ .two:hover,
  .triggerButton:checked ~ .three:hover {
    opacity: 1.3;
    filter: brightness(1.1);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  }

  .ant-popover .ant-popover-inner {
    width: 264px;
    margin-right: 5px !important;
  }
}
