// Preview panel
.preview-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  overflow: hidden;

  .preview-header {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    color: $slate-800;
    background-color: $slate-100;
    border-bottom: 1px solid #e5e7eb;
  }

  .preview-content {
    padding: 2rem;
    overflow-y: auto;
    flex-grow: 1;
    background-color: $slate-200;
  }
}
