@import "../../../../../../styles/variables.scss";

// Dark mode styles for ContractFormView
:global(html.dark) {
  // Input fields
  .ant-input,
  .ant-input-affix-wrapper {
    background-color: $background-color-dark-light;
    border-color: $border-color-dark;
    color: $text-color-dark;

    &:hover {
      border-color: $border-color-dark;
      background-color: darken($background-color-dark-light, 3%);
    }

    &:focus,
    &.ant-input-affix-wrapper-focused {
      border-color: $primary-color-dark;
      background-color: $background-color-dark-light;
      box-shadow: 0 0 0 2px rgba(9, 109, 217, 0.2);
    }

    .ant-input {
      background-color: transparent;
    }

    .anticon {
      color: $text-color-secondary-dark;
    }
  }

  // Input password
  .ant-input-password {
    background-color: $background-color-dark-light;
    border-color: $border-color-dark;

    &:hover {
      background-color: darken($background-color-dark-light, 3%);
    }

    .ant-input {
      color: $text-color-dark;

      &:hover {
        background-color: transparent;
      }
    }

    .ant-input-password-icon {
      color: $text-color-secondary-dark;

      &:hover {
        color: $text-color-dark;
      }
    }
  }

  // Select
  .ant-select {
    .ant-select-selector {
      background-color: $background-color-dark-light;
      border-color: $border-color-dark;
      color: $text-color-dark;

      &:hover {
        background-color: darken($background-color-dark-light, 3%);
        border-color: $border-color-dark;
      }
    }

    .ant-select-arrow {
      color: $text-color-secondary-dark;
    }

    &:hover .ant-select-selector {
      background-color: darken($background-color-dark-light, 3%);
      border-color: $border-color-dark;
    }

    &.ant-select-focused .ant-select-selector {
      border-color: $primary-color-dark;
      background-color: $background-color-dark-light;
      box-shadow: 0 0 0 2px rgba(9, 109, 217, 0.2);
    }
  }

  // Date picker
  .ant-picker {
    background-color: $background-color-dark-light;
    border-color: $border-color-dark;

    .ant-picker-input > input {
      color: $text-color-dark;
    }

    .ant-picker-suffix {
      color: $text-color-secondary-dark;
    }

    &:hover {
      border-color: $border-color-dark;
      background-color: darken($background-color-dark-light, 3%);
    }

    &.ant-picker-focused {
      border-color: $primary-color-dark;
      background-color: $background-color-dark-light;
      box-shadow: 0 0 0 2px rgba(9, 109, 217, 0.2);
    }
  }

  // Form labels
  .ant-form-item-label > label {
    color: $text-color-dark;
  }

  // Form required mark
  .ant-form-item-required::before {
    color: $error-color !important;
  }

  // Upload component
  .ant-upload.ant-upload-select-picture-card {
    background-color: $background-color-dark-light;
    border-color: $border-color-dark;
    color: $text-color-secondary-dark;

    &:hover {
      border-color: $border-color-dark;
      background-color: darken($background-color-dark-light, 3%);
    }
  }

  .ant-upload-list-picture-card-container {
    .ant-upload-list-item {
      border-color: $border-color-dark;
      background-color: $background-color-dark-light;
    }

    .ant-upload-list-item-info {
      background-color: rgba(0, 0, 0, 0.2);

      &:hover {
        background-color: rgba(0, 0, 0, 0.4);
      }
    }

    .ant-upload-list-item-actions {
      .anticon {
        color: $text-color-dark;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  // Divider in the form
  .ant-divider {
    border-color: $border-color-dark;
  }

  // Avatar
  .ant-avatar {
    background-color: $primary-color-dark;
  }

  // Loading spinner
  .ant-spin {
    color: $primary-color-dark;

    .ant-spin-dot-item {
      background-color: $primary-color-dark;
    }
  }

  // Buttons in the form
  .ant-btn {
    &-primary {
      &:hover,
      &:focus {
        background-color: darken($primary-color-dark, 5%);
        border-color: darken($primary-color-dark, 5%);
      }
    }

    &-default {
      &:hover,
      &:focus {
        background-color: rgba(0, 0, 0, 0.1);
        border-color: $border-color-dark;
        color: $text-color-dark;
      }
    }
  }

  // Dropdown menu
  .ant-select-dropdown {
    background-color: $background-color-dark;
    border-color: $border-color-dark;

    .ant-select-item {
      color: $text-color-dark;

      &:hover {
        background-color: darken($background-color-dark-light, 3%);
      }

      &-option-selected {
        background-color: $background-color-dark-light;

        &:hover {
          background-color: darken($background-color-dark-light, 3%);
        }
      }
    }
  }

  // Form Modal backdrop and overlay
  .ant-modal-mask {
    background-color: rgba(0, 0, 0, 0.65);
  }

  // Switch component
  .ant-switch {
    background-color: rgba(255, 255, 255, 0.1);

    &-checked {
      background-color: $primary-color-dark;
    }

    &:hover:not(.ant-switch-disabled) {
      background-color: rgba(255, 255, 255, 0.15);
    }
  }
}

// Light mode styles for ContractFormView
:global(html.light) {
  // Input fields
  .ant-input,
  .ant-input-affix-wrapper {
    background-color: $background-color;
    border-color: $border-color;
    color: $text-color;

    &:hover {
      border-color: $primary-color;
      background-color: lighten($background-color, 2%);
    }

    &:focus,
    &.ant-input-affix-wrapper-focused {
      border-color: $primary-color;
      background-color: $background-color;
      box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
    }

    .ant-input {
      background-color: transparent;
    }

    .anticon {
      color: $text-color-secondary;
    }
  }

  // Input password
  .ant-input-password {
    background-color: $background-color;
    border-color: $border-color;

    &:hover {
      background-color: lighten($background-color, 2%);
    }

    .ant-input {
      color: $text-color;

      &:hover {
        background-color: transparent;
      }
    }

    .ant-input-password-icon {
      color: $text-color-secondary;

      &:hover {
        color: $text-color;
      }
    }
  }

  // Select
  .ant-select {
    .ant-select-selector {
      background-color: $background-color;
      border-color: $border-color;
      color: $text-color;

      &:hover {
        background-color: lighten($background-color, 2%);
        border-color: $primary-color;
      }
    }

    .ant-select-arrow {
      color: $text-color-secondary;
    }

    &:hover .ant-select-selector {
      background-color: lighten($background-color, 2%);
      border-color: $primary-color;
    }

    &.ant-select-focused .ant-select-selector {
      border-color: $primary-color;
      background-color: $background-color;
      box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
    }
  }

  // Date picker
  .ant-picker {
    background-color: $background-color;
    border-color: $border-color;

    .ant-picker-input > input {
      color: $text-color;
    }

    .ant-picker-suffix {
      color: $text-color-secondary;
    }

    &:hover {
      border-color: $primary-color;
      background-color: lighten($background-color, 2%);
    }

    &.ant-picker-focused {
      border-color: $primary-color;
      background-color: $background-color;
      box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
    }
  }

  // Form labels
  .ant-form-item-label > label {
    color: $text-color;
  }

  // Form required mark
  .ant-form-item-required::before {
    color: $error-color !important;
  }

  // Upload component
  .ant-upload.ant-upload-select-picture-card {
    background-color: $background-color;
    border-color: $border-color;
    color: $text-color-secondary;

    &:hover {
      border-color: $primary-color;
      background-color: lighten($background-color, 2%);
    }
  }

  .ant-upload-list-picture-card-container {
    .ant-upload-list-item {
      border-color: $border-color;
      background-color: $background-color;
    }

    .ant-upload-list-item-info {
      background-color: rgba(0, 0, 0, 0.04);

      &:hover {
        background-color: rgba(0, 0, 0, 0.08);
      }
    }

    .ant-upload-list-item-actions {
      .anticon {
        color: $text-color;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }

  // Divider in the form
  .ant-divider {
    border-color: $border-color;
  }

  // Avatar
  .ant-avatar {
    background-color: $primary-color;
  }

  // Loading spinner
  .ant-spin {
    color: $primary-color;

    .ant-spin-dot-item {
      background-color: $primary-color;
    }
  }

  // Buttons in the form
  .ant-btn {
    &-primary {
      &:hover,
      &:focus {
        background-color: lighten($primary-color, 5%);
        border-color: lighten($primary-color, 5%);
      }
    }

    &-default {
      &:hover,
      &:focus {
        background-color: rgba(0, 0, 0, 0.04);
        border-color: $border-color;
        color: $text-color;
      }
    }
  }

  // Dropdown menu
  .ant-select-dropdown {
    background-color: $background-color;
    border-color: $border-color;

    .ant-select-item {
      color: $text-color;

      &:hover {
        background-color: lighten($background-color, 2%);
      }

      &-option-selected {
        background-color: $background-color-light;

        &:hover {
          background-color: lighten($background-color-light, 2%);
        }
      }
    }
  }

  // Form Modal backdrop and overlay
  .ant-modal-mask {
    background-color: rgba(0, 0, 0, 0.45);
  }

  // Switch component
  .ant-switch {
    background-color: rgba(0, 0, 0, 0.25);

    &-checked {
      background-color: $primary-color;
    }

    &:hover:not(.ant-switch-disabled) {
      background-color: rgba(0, 0, 0, 0.35);
    }

    &-checked:hover:not(.ant-switch-disabled) {
      background-color: lighten($primary-color, 5%);
    }
  }
}
