@use "@/styles/variables" as vars;

// InputWithLabel.scss

.input-with-label {
  position: relative;
  width: 100%; // Đảm bảo chiều rộng của input linh động
  height: 36px;

  .input-wrapper {
    position: relative;
    width: 100%;
  }

  .input-field {
    padding: 6px;
    border-radius: 4px;
    outline: none; // Bỏ outline mặc định của input
    height: 40px !important;
    border: 2px solid rgba(13, 71, 161, 0.2) !important;
    border-radius: 8px !important;
    height: auto !important;
    min-height: 42px !important;
    background: rgba(255, 255, 255, 0.8) !important;
  }

  .label {
    position: absolute;
    left: 12px;
    top: 50%;
    text-wrap: nowrap;
    background-color: #fff;
    // padding: 0px 8px 8px 0px;
    transform: translateY(-50%);
    font-size: 14px;
    color: #999;
    pointer-events: none;
    transition: all 0.2s ease-in-out;

    &.active {
      top: 0px;
      background-color: #fff !important;
      padding: 0px 5px;
      font-size: 12px;
      color: #4f575e; // Màu label khi focus
      z-index: 1 !important;
    }
    &.disabled {
      background-color: rgba(245, 245, 245, 0.568) !important;
    }
  }
}

html.dark .input-with-label {
  .label {
    background-color: var(--bg-card) !important;
    &.active {
      background-color: var(--bg-card) !important;
      color: var(--text-primary) !important;
    }
    &.disabled {
      background-color: inherit !important;
    }
  }
}
