input[type="datetime-local"] {
  background-color: #f9f9f9;
  color: #333;
  font-size: 13px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  background-color: #e6f7ff;
  color: #fff;
  border-radius: 50%;
  padding: 8px;
}
